body,p{
    font-family: Verdana, Geneva, sans-serif;
	font-size:13px;
    margin:0px;
    padding:0px;
}
input[type="submit"],
input[type="reset"]{
    cursor: pointer;
    margin-top: 10px;
}
input[type="text"],
select,
input[type="number"]{
    padding: 5px;
}
ul,li{
    list-style: none;
	padding:0px;
	margin:0px;
}
a, a:active, a:visited{
    color: #000;
    text-decoration: none;
}
.cbox input{
    display: none;
}
.cbox span{
    min-width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 10px;
    border: 1px solid #494949;
    float: left;
}
.cbox input[type=checkbox]:checked + span{
    background: #31950D;
    color: #FFF;
}


/* ------------- Header --------------- */

.header_wrap{
    width:70%;
    height:auto;
    margin:0 auto;		
}
.top_border{
	width:100%;
    min-width: 488px;
    margin:0 auto;
    padding: 2px 0px;	
    border-bottom: 1px solid #EBEBEB;
    overflow: auto;
}
.top_border p{
    float: left;
    margin-top: 4px;
    font-size: 10px;    
}
.top_border ul li{
	float:right;	
	padding:2px 5px;
    font-size: 12px;
}
.top_border a{
    color: #57A128;
  	text-decoration:underline;  
}
.top_border a:hover{
	color:#548451;	
	text-decoration:none;
}
.header{
	width:100%;
    min-width: 488px;
    height:80px;
    margin:0 auto;
    background:#FFF; 
    position: relative;
}
.logo{
    background: url("../images/ep_logo.png") no-repeat;
    width: 161px;
    height: 43px;
    position: absolute;
    top: 15px;
}

/* ------------- Menu --------------- */

/* ------------- Menu --------------- */

.menu_wrap_outer{
    width: 960px;
    height: auto;
    margin: 0 auto;
}
.menu_wrap{
    width: 100%;
    overflow: auto;
    background: #31950D;
    border-bottom: 1px solid #224D20;
}
.menu{
    float: left;
}
.menu_wrap ul{
    padding: 0;
    margin: 0;
    overflow: auto;
}
.menu_wrap li{
    float: left;
    background: #31950D;
}
.menu_wrap a{
    font-size:14px;
    color:#e2e2e2;
    padding:  8px 10px;
    display: block;
}
.menu_wrap a:hover{
    color:#FFF;
    background: #FF5400;
}
.search_wrap{
    float: right;
    margin-top: 40px;
}
.search_wrap select{
    height: 32px;
    border: 1px solid #CCC;
    border-radius: 4px 0 0 4px;
}
.search{
    float: right;
    height: 20px;
    width: 150px;
    padding: 1px 10px;
    border: 1px solid #CCC;
    background: url(../images/search.gif) no-repeat;
    background-position: right;
    box-shadow:inset 0 0 3px #ddd;
    border-radius: 0 4px 4px 0;
}
.search_wrap ul li{
    background: none;
    padding: 0px 5px;
    
}
.clear{
    clear: both;
    height: 20px;
}

/* ------------- index ----------------- */
.dash_wrap{
    height: auto;
    padding: 10px 0px;
}
.overview{
    width: 400px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.overview p{
    padding: 5px 0px;
    font-weight: bold;
}
.overview_table{
    border: 1px solid #D2D2D2;  
    overflow: hidden; 
}
.overview_table table{
    border-collapse: collapse;
    width: 400px;
    padding: 0px;
    margin: 0px;
}
.overview_head{
    background: url(../images/table_bg.gif);
    width: 100%;
}
.overview_bottom{
    background: url(../images/table_bg.gif);
    width: 100%; 
    border-top: 1px solid #D2D2D2; 
}
.overview_light{
    background: #F1F1F1;
    width: 100%;
}
.overview_table table th{
    padding: 5px 10px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2; 
}
.overview_table table td{
    padding: 5px 10px;
    font-size: 12px;
    text-align: left;
    border-right: 1px solid #D2D2D2;  
}
.refresh a{
    float: right;
    font-size: 10px;
    text-decoration: underline;
    color: #0196FF;
}
.refresh a:hover{
    text-decoration: none;
    color: #FF8901;
}

/* ------------- Body ----------------- */

.body_wrap{
	width:70%;
	margin:0px auto;
    margin-bottom: 120px;   
 }
.page_tittle{
    color: #BFBFBF;
    padding: 5px 0px;
    font-size: 11px;
    text-transform: capitalize; 
    border-bottom: 1px dotted #ddd;   
}
.flag{
    color:#ea2000;
    font-size:12px;
}
.top_action{
    margin-top: 10px;
    min-width: 300px;
    float: left;
    height: 22px;      
}
.top_action li{
    float: left;
    padding: 0 2px;
}
.top_action a{
    font-size: 11px;
    background: url(../images/btn_bg.gif);
    background: -moz-linear-gradient(center top , #FFF, #DCDCDC);
    padding: 3px 7px;
    border: 1px solid #989898;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #E0E0E0;
}
.top_action a:hover{
    color: #FFF;
    background: #234E21;
}

/* top_action input */

.top_action input[type="submit"]{
    margin-top: -1px;
    height: 22px;
}
.top_action input[type="submit"]{
    font-size: 11px;
    background: url(../images/btn_bg.gif);
    background: -moz-linear-gradient(center top , #FFF, #DCDCDC);
    padding: 3px 7px;
    border: 1px solid #989898;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #E0E0E0;
}
.top_action input[type="submit"]:hover{
    color: #FFF;
    background: #234E21;
}


/* */


.password{
    border: none;
    background: none;
    color: #000;
    width: 80px;
}
.loop_table{
    padding-top: 10px;
}
.loop_table table{
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}
.loop_table table th{
    background: url(../images/table_bg.gif);
    padding: 8px;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    text-decoration: underline;
}
.loop_table table tr{
    border: 1px solid #CCC;
}
.loop_table table tr:hover{
    background: #D7D7D7;
}
.loop_table table td{
    padding: 3px 10px;
}
.loop_table table a{
    color: #013DFE;
}
.loop_table table a:hover{
    text-decoration: underline;
}
.page_number{
    margin: 5px 0;
    padding: 5px 0;
}
.page_number a{
    font-weight: bold;
    padding: 5px 10px;
    margin: 0 1px;
    background: #DDD;
    width: 10px;
    border-radius: 5px;
}
.page_number a:hover{
    background: #FF5400;
}
.add_wrap{
    padding: 20px;
    margin-top: -1px;
    clear: both;   
    border-top: none;
    border-right: 1px dotted #DDD;
    border-bottom: 1px dotted #DDD;
    border-left: 1px dotted #DDD;
}
.add_wrap [type="checkbox"]{
	margin: 0px;
	padding: 0px;	
}
.add_wrap table{
    width: 100%;
    border-collapse: collapse;
}
.add_wrap tr:hover{
    background: #F0F0F0;
}
.add_wrap td{
    padding: 5px 0;
}
.add_btn{
    height: 30px;
    margin-left: 175px;
}
.file_import{    
    padding: 10px 0px;
    margin-top: 20px;
    border: 1px dotted #DDD;   
}

/******** Product Details *************/
.p_details_left{
    float: left;
    width: 200px;
    border: 1px dotted #DDD;
    padding: 20px;
    padding-top: 40px;
    margin-top: 20px;
    margin-right: 40px;
}
.p_image{
    width: 180px;
    height: 250px;
    background: #EEE;
    overflow: hidden;
}
.p_image img{
    width: 180px;
    height: 250px;
}

.img_thumble {
    margin-top: 50px;
    overflow: auto;
}
.img_thumble li{
    float: left;
    border: 1px solid #EEE;
    height: 65px;
    width: 60px;
    margin: 0 2px;
    cursor: pointer;
}
.img_thumble img{
    height: 60px;
    width: 60px;
    overflow: hidden;
}
.more_items_details_wrap{
    margin: 20px;
    float: left;
    min-width: 500px;
}
.p_details_right{
    margin-top: 20px;
    float: left;
}
.p_details_right table{
    border-collapse: collapse;
}
.p_details_right td{
    padding: 5px 0;
    border-bottom: 1px solid #f2f2f2;
}
.view textarea{
    background: #fff;
    border: none;
    color: #000;
    font-family: Verdana, Geneva, sans-serif;
    font-size:13px;
    resize: none;
}
.goback{
    margin-top: 20px;
}
.goback a{
    background: #EEE;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #DDD;
}
.goback a:hover{
    background: #D8D8D8;
}
/* ------------- Footer --------------- */
.footer_wrap{
	height:auto;
	width:80%;
	padding:10px 0px;
	margin:0px auto;
    background:#D9D7C7;	
}
.footer{
	margin:10px;
	overflow:auto;
}
.copy_right{
	float:left;	
	font-size:11px;	
}
.design{
	font-size:11px;	
	float:right;
}
.design a:hover{
	text-decoration:underline;	
}