html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	 background-color: #FFF;
	 color: #1e441e;
	 font-family: "roboto", "Arial";
 }
a:link, a:visited, a:hover, a:active{
	color: #1e441e;
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{
	clear: both;
}
#body{
	width: 1110px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 5px;
}
.loader {
	position: absolute;
	left: 0px;
	top: 230px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat rgba(249,249,249,0.5);
}
/** Header **/
#header_wrap{
	width: 100%;
	height: 95px;
	background: #FFF;
}
#logo{
	float: left;
}
#logo img{
	margin-top: 30px;
	width: 55px;
	height: 40px;
}
#logo li{
	float: left;
}
#name{
	margin-left: 15px;
	margin-top: 25px;
	font-size: 30px;
	color: #46961E;
}
#top_contain{
	float: right;
	padding-top: 30px;
}
#search_box{
	float: left;
	margin-right: 35px;
	padding: 1px 8px;
	border: 1px solid #D5D5D5;
	border-radius: 5px;
	background: #f5f5f6;
}
#search_box li:nth-child(1){
	float: left;
}
#search_box li:nth-child(2){
	float: right;
}
#search_box input[type="text"]{
	border: none;
	border-radius: none;
	min-width: 100%;
	height: 35px;
	padding: 0;
	background: none;
	font-size: 15px;
}
#search_box input[type="submit"]{	
	background: url(../images/search_icon.jpg) 0 8px no-repeat;
	width: 20px;
	height: 30px;
	border: none;
}
#userpanel{
	float: left;
	padding-top: 5px;
}
#userpanel li{
	float: left;
}
#loginaccount{
	background: url(../images/top_icon.jpg) no-repeat;
	width: 30px;
	margin-right: 25px;
	padding-bottom: 50px;
	cursor: pointer;
}
#cart{
	background: url(../images/top_icon.jpg) -35px 0 no-repeat;
	width: 30px;
	padding-bottom: 50px;
	cursor: pointer;
}
#carttittle{
	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	color: #838597;	
	padding-bottom: 20px;
}
#cartnum{
	background: url(../images/cart_num_bg.jpg) 0 1px no-repeat;
	width: 21px;	
	padding-bottom: 25px;
	text-align: center;
	margin-top: 4px;
	margin-left: 5px;
}
#cartnum span{
	margin-left: 5px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
}

/**** My_account *******************************/
#my_account{
	display: none;
	position: relative;
	margin-left: -129px;
	margin-top: 40px;
	padding: 5px;
	min-width: 270px;
	background: #FFF;
	border: 1px solid #ddd;
}
.account span{
	display: block;
	height: 50px;
	cursor: pointer;
}
#loginaccount:hover > #my_account{
	width: 200px;
	display: block;
	position: absolute;
	z-index: 999;
}
#login_form{
	margin: 5px;
}
#login_form ul li{
	margin: 0;
	padding: 5px 0;
	width: 100%;
}
#login_form input[type="text"],#login_form input[type="password"]{
	border: 1px solid #ddd;
	padding: 5px;
	width: 100%;
	font-size: 13px;
}
.forget a{
	font-size: 12px;
	color: #FF0000;
	display: inline-block;
}
.forget a:hover{
	text-decoration: underline;
}
.green_btn input[type="submit"]:hover{
	background: #387f28;
}
.select_box{
	border: 1px solid #c5c5c5;
	border-radius: 1px;
	background-color: #fff;
	box-shadow: none;
	font-style: normal;
	height: 30px;
	line-height: 1.5;
	padding: 0;
}
.yellow_btn input[type="submit"]{
	border: 1px solid #dc5301;
	padding: 5px;
	width: 100%;
	height: 100%;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	background: #FF5901;
}
.yellow_btn input[type="submit"]:hover{
	background: #c64901;
}
.register_btn a{
	display: block;
	padding: 5px;
	width: 100%;
	font-size: 13px;
	color: #FFF;
	font-weight: bold;
	background: #3e9d2e;
	text-align: center;
}
.register_btn a:hover{
	background: #387f28;
}

/** Menu  **/
#menu_wrap{
	width: 100%;
	height: 40px;
	background: #629609;
	position: relative;
}
#menu_wrap li{
	float: left;
}
#menu_wrap a{
	line-height: 40px;
	padding: 15px;
	color: #fff;
	font-weight: bold;
}
#menu_wrap a:hover{
	color: #3E6300;
}
#menu_wrap li:hover{
	background: #C0E285;
	border-bottom: 2px solid transparent;
}
#menu_wrap li:hover a{
	color: #3E6300;
}
.submenu_wrap{
	width: 1100px;
	background: #C0E285;
	border-bottom: 2px solid #F6871E;
	min-height: 250px;
	position: absolute;
	padding: 20px 10px;
	left: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
#menu_wrap li:hover .submenu_wrap{
	opacity: 1;
	visibility: visible;
}
#menu_wrap li > .submenu_wrap ul{
	margin: 0;
	padding: 0;
}
#menu_wrap li > .submenu_wrap li{
	float: none;
	border: 2px solid transparent;
	margin: 0;
}
#menu_wrap li > .submenu_wrap a{
	font-weight: normal;
	line-height: 25px;
	padding-left: 5px;
	font-size: 13px;
}
#menu_wrap li > .submenu_wrap a:hover{
	text-decoration: underline;
}
.submenu{
}
.submenu ul{
	display: inline-table;
}
.submenu li{
	padding-right: 30px;
}
.submenu h2{
	font-size: 13px;	
	color: #3E6300;
	font-weight: bold;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #3E6300;
}


/** Main Slider  **/
#main_slider_wrap{
	width: 100%;
	height: 400px;
	margin: 10px 0;
	background: url(../images/slider_bg.jpg) center center;
	background-size: cover;
	overflow: hidden;
	border: 1px solid #D5D5D5;
}
/** top promo panel **/

#top_promo_panel{
	width: 100%;
	background: #fff;
	border-top: 1px solid #000;
	margin: 15px 0;
	padding: 15px 0;
	overflow: hidden;
}
#top_promo_panel ul{
	position: relative;
	display: flex;
	justify-content: space-between;	
}
#top_promo_panel li{
	position: relative;
	float: left;
    -webkit-filter: brightness(100%);
	-moz-filter: brightness(100%);
	-o-filter: brightness(100%);
	-ms-filter: brightness(100%);
	filter: brightness(100%);
}
#top_promo_panel li:hover{
    opacity: 0.8;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}
#top_promo_panel img{
	width: 350px;
	height: 150px;
}
/** Front Product Panel **/
.product_panel_wrap{
	margin-top: 50px;
	border-top: 1px solid #1e441e;
}
.product_tittle{
	margin-top: -12px;
}
.tittle_desc{
	background: #FFF;
	font-size: 15px;
	font-weight: bold;
	float: left;
	padding-right: 10px;
}
.tittle_dot{
	float: right;
	width: 10px;
	height: 10px;
	background: #1e441e;
	margin-top: 5px;
}
.product_loop{
	display: flex;	
	justify-content: space-between;
}
.product_wrap{
	width: 180px;
	padding-top: 15px;
	float: left;
	position: relative;
	border-bottom: none;
	color: #1e441e;
	border-bottom: 1px solid transparent;
}
.product_wrap li{
	padding: 1px 0;
}
.p_img img{
	width: 180px !important;
	height: 250px !important;
}
.p_name{
}
.p_desc{
	font-size: 12px;
}
.p_amount{
	font-size: 15px;
	font-weight: bold;
}
.p_option{
    opacity: 0;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
	position: absolute;
	bottom: 55px;
	left: 10px;
}
.product_wrap:hover {
	border-bottom: 1px solid #F6871E;
}
.product_wrap:hover > .p_option{
    opacity: 1;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}
.p_option li a{
	width: 160px;
	padding: 5px;
	display: block;
	background: rgba(0,0,0,0.8);
	color: #fff;
	text-align: center;
}
.p_option li a:hover{
	background: #F6871E;
}

/** Quick Cateogry **/
.quick_category{
	width: 1100px;
	margin: 50px 0 20px 0;
}
.quick_cat_header li{
	font-weight: bold;	
	margin-bottom: 5px;
}
.quick_cat_header li:nth-child(1){
	float: left;
}
.quick_cat_header li:nth-child(2){
	float: right;
}
.quick_cat_desc{
	border: 1px solid #D5D5D5;
	height: 258px;
}
.quick_cat_menu{
	float: left;
	width: 200px;
	background: #D5D5D5;
}
.quick_menu_tittle{
	padding: 5px;
	font-weight: bold;
	font-size: 13px;
}
.quick_cat_menu ul{
	margin: 10px 0 10px 10px;
}
.quick_cat_menu li{
	margin-left: 10px;
}
.quick_cat_menu a{
	display: block;
	padding: 8px;
	font-size: 13px;
}
.quick_cat_menu a:hover{
	background: #DDD;
}
.quick_cat_items{
	float: left;
	width: 870px;
	height: 245px;
	background: #f9f9f9;
	position: relative;
}
.q_cat_main{
	position: absolute;
	left: 110px;
	top: 8px;
	height: 240px;
	border-right: 1px solid #d3d3d3;
	padding-right: 100px;
}
.q_cat_main ul:nth-child(1){
	float: left;	
	margin-top: 70px;
}
.q_cat_main ul:nth-child(2){
	float: left;
	margin-top: 100px;
	margin-left: 30px;
}
.q_cat_main span{
	font-weight: bold;
	font-size: 14px;
}
.q_cat_main a{
	font-size: 13px;
	padding: 1px 16px;
	background: url(../images/arrow_right.gif) no-repeat 0 5px;
}
.q_cat_main a:hover,.q_cat_sub a:hover,.q_cat_sub2 a:hover{
	color: #D36E02;
}
.q_cat_main img{
	width: 118px;
	height: 90px;
}
.q_cat_sub{
	position: absolute;
	right: 60px;
	top: 20px;
	width: 350px;
	border-bottom: 1px solid #ddd;
}
.q_cat_sub2{
	position: absolute;
	bottom: 10px;
	right: 60px;
	width: 350px;
}
.q_cat_sub ul:nth-child(1),
.q_cat_sub2 ul:nth-child(1){
	float: left;
	margin-left: 25px;
}
.q_cat_sub ul:nth-child(2),
.q_cat_sub2 ul:nth-child(2){
	float: left;
	margin-top: 5px;
	margin-left: 25px;
}
.q_cat_sub ul:nth-child(2) img,
.q_cat_sub2 ul:nth-child(2) img{
	width: 118px;
	height: 90px;
}
.q_cat_sub li,.q_cat_sub2 li{
	margin: 5px 0;
}
.q_cat_sub span,.q_cat_sub2 span{
	font-weight: bold;
	font-size: 14px;
}
.q_cat_sub a,.q_cat_sub2 a{
	font-size: 13px;
	padding: 1px 16px;
	background: url(../images/arrow_right.gif) no-repeat 0 5px;
}

/** Bradcrum **/
#breadcrumb{
	margin: 20px 0;
	font-size: 12px;
	color: #CECECE;
}
#bread_crumb{
	margin: 20px 0;
	font-size: 12px;
	color: #CECECE;
	padding-bottom: 3px;
	border-bottom: 1px solid #CECECE;
}

/** Product in Category Page **/

#filter_wrap{
	float: left;
	width: 200px;
}
.filterbox{
	width: 100%;
	margin-bottom: 10px;
	padding-bottom: 10px;
	overflow: auto;
	border-bottom: 1px solid #CECECE;	
}
.filterbox h2{
	font-weight: bold;
	margin: 10px 0;
	font-size: 14px;
}
.filterbox ul{
	clear: both;
}
.filterbox li{
	float: left;
	margin-right: 5px;
}
.colorbox input{
	display: none;
}
.colorbox span{
	height: 20px;
	width: 20px;
	margin: 2px 2px 2px 0;
	border: 1px solid #000;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.colorbox input[type=checkbox]:checked + span{
	background: url(../images/color-tick.png) 2px no-repeat;
}
#slider-range{
	margin: 20px 0 10px 10px;
	width: 180px;
}
#details_wrap{
	float: right;
	width: 830px;
	max-width: 100%;
}
#productlist{
	margin: 0;
}
.productbox {
	float: left;
	margin: 25px 25px 25px 0;
	position: relative;
}
.productbox:hover > .product_act{
	display: block;
}
.product_act{
	position: absolute;
	z-index: 999;
	bottom: 55px;
	background: #98FB98;
	width: 100%;
	display: none;
}
.product_act a{
	text-align: center;
	display: block;
	padding: 4px 6px;
}
.product_act a:hover{
	text-decoration: underline;
}
.productbox li{
	margin: 2px 0;
}
.productimg{
	width: 180px;
	height: 250px;
	overflow: hidden;
}
.productimg img{
	width: 180px;
	height: 250px;	
}
.productname{
	padding-top: 10px;
	text-align: center;
}
.productprice{
	text-align: center;
	font-weight: bold;
}
#imgthumb{
	float: left;
}
#imgthumb img{
	width: 40px;
	height: 50px;
	cursor: pointer;
	border: 1px solid #6CA712;
}
#fullimg{
	float: left;
	margin-left: 25px;
}
#fullimg img{
	width: 300px;
	min-width: 100%;
	height: 400px;
}
#rightpanel{
	float: left;
	margin-left: 30px;
	width: 700px;
	max-width: 100%;
}
#pdetailsl{
	float: left;
	width: 250px;
	max-width: 100%;
	margin-right: 20px;
}
#pdetailsr{
	float: left;
	width: 300px;
}
#pdetails div{
	margin: 15px 0;
}
#pdetails h2{
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 3px;
	padding-bottom: 3px; 
	border-bottom: 1px dashed #D5D5D5;
}
.pname{
	font-size: 16px;
	margin: 10px 0;
	font-weight: bold;
}
.price{
	font-size: 16px;
	font-weight: bold;
	margin: 10px 0;
}
.color{
	margin: 5px 0;
}
.size-box {
	padding: 15px 0;
	overflow: auto;
	font-weight: bold;
}
.size-box input{
	display: none;
}
.size-box span{
	border: 1px solid #000;
	padding: 10px 16px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	cursor: pointer;
}
.size-box input[type=checkbox]:checked + span{
	background: #FFB672;
}
.size-box a{
	display: block;
	padding: 10px 16px;
	border-radius: 50%;
	border: 1px solid #D5D5D5;
}
.size-box a:hover{
	background: #D5D5D5;
	-webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;	
}
#pdetailsl input[type="number"]{
	width: 45px;
	margin-left: 5px;
	padding-left: 5px;
}
#buybtn{
	margin: 35px 0;
}
#buybtn li{
	float: left;
	margin-right: 5px;
}
#buybtn a{
	margin-right: 5px;
	line-height: 55px;
	padding: 10px 13px;
	border: 1px solid #DDD;
}
#buybtn a:hover{
	background: #FFB672;
	border: 1px solid #DDD;
	-webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;
}
.cartbtn{
	margin-top: 15px;
	display: inline-block;
	background: #98FB98;
}
.cartbtn a{
	padding: 8px 13px;
	display: block;
}
.cartbtn a:hover{
	background: #43841C;
	color: #fff;
	-webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in;
    transition:all 0.2s ease-in;	
}
#sharebox{
	margin-top: 20px;
}
#sharebox li{
	float: left;
}
#pdetailsr{
	float: right;
}
#similarbox{
	margin-top: 100px;
	max-width: 1100px;
	width: 100%
	border: 1px solid #000;
	overflow: auto;
}
#similarbox h2{
	padding-bottom: 5px;
	border-bottom: 1px solid #D5D5D5;
}
/*** cart ***/
#cartdetails_wrap{	
	float: left;
	margin-top: 20px;
}
#cartdetails{
	padding: 5px;
	width: 650px;
	max-width: 100%;
	margin-right: 125px;
	margin-bottom: 25px;
	border: 1px solid #DDD;
	overflow: auto;
}
#cartdetails img{
	width: 70px;
	height: 85px;
	border: 1px solid #DDD;
}
#cartdetails ul{
	margin-right: 15px;
	float: left;
}
#cartdetails ul:nth-child(4){
	margin: 0 50px;
}
#cartdetails ul:nth-child(5){
	margin: 0 50px;
}
#cartdetails li{
	float: none;
}
#cartdetails h2{
	padding: 10px 0;
	font-weight: bold;
}
#checkoutdetails{
	float: left;
	width: 250px;
	margin-top: 20px;
}
#checkoutdetails h2{
	border-bottom: 1px solid #ddd;
	padding-bottom: 3px;
	margin-bottom: 10px;
}
#checkoutdetails ul{
	clear: both;
}
#checkoutdetails li{	
	padding: 2px 0;
	float: left;
}
#checkoutdetails li:nth-child(2){
	float: right;
}
#checkoutdetails > .amt{
	border-top: 1px solid #DDD;
}
.amt{
	font-weight: bold;
}
.crossamt span{
	text-decoration: line-through;
}
#cart_address{
	width: 350px;
	float: left;
	margin-right: 150px;
}
#cart_address ul{
	margin: 15px 0;
}
#cart_address input{
	height: 30px;
	padding: 5px;
}
#cart_address select, #cart_address textarea{
    min-width: 205px;
    padding: 5px;
    background: #f8f8f8;
    border: 1px solid #ddd;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.totalorder{
	overflow: auto;
	padding-bottom: 15px;
}
.totalorder a{
	color: #0475ec;
	font-size: 11px;
	text-decoration: underline;
}
.payment_option input[type="image"]{
	border: 1px solid #DDD;
	overflow: auto;
	min-height: 44px;
}
.payment_option input[type="image"]:hover{
	border: 1px solid red;
}
.payment_option li{
	float: left;
	margin-right: 5px;
}

/** Customer Login **/
#logincontainer{
	overflow: auto;
	background: #eee;
}
.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-link-1.btn-link-1-facebook { background: #4862a3; }
.btn-link-1.btn-link-1-twitter { background: #55acee; }
.btn-link-1.btn-link-1-google-plus { background: #dd4b39; }

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 0.6; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/

.form-box {
	margin-top: 40px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #eee;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { 
    font-size: 18px;
    font-weight: 300;
    color: #555;
    margin-bottom: 15px;
    line-height: 30px;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #000;
}

.social-login-buttons {
	margin-top: 25px;
}
.social-login-buttons a {
	color: #fff;
}
.middle-border {
	min-height: 550px;
	margin-top: 15px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

button.btn {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #629609;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }


/** Footer **/
.scroll-top:hover {
	color: #fff !important;
	background-color: #ed702b;
	text-decoration: none;
}
 .scroll-top {
	display: none;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	font-size: 1rem;
	color: #fff;
	background-color: rgba(0,0,0,0.3);
	text-decoration: none;
	border-radius: 3.2rem;
	text-align: center;
	cursor: pointer;
}
#footer_wrap{
	margin: 50px 0 20px 0;
	width: 100%;
	padding-top: 15px;
	font-size: 13px;
	border-top: 1px solid #D5D5D5;
}
#footer_wrap div{
	margin-right: 50px;
	max-width: 100%;
}
#foo_quick_link{
	float: left;
	font-size: 12px;
}
#useful_link{
	float: left;
}
#foo_quick_link h1, #useful_link h1{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}
#foo_quick_link li, #useful_link li{
	margin: 4px 0;
}
#foo_quick_link a:hover, #useful_link a:hover{
	text-decoration: underline;
}
#app_desc{
	float: left;
	width: 300px;
}
#app_desc li{
	margin: 10px 0;
}
#assurance{
	float: left;
	width: 250px;
}
#assurance li{
	height: 40px;
	padding-left: 60px;
	margin: 10px 0;
}
#assurance li:nth-child(1){
	background: url(../images/foo_icon.png) no-repeat;
}
#assurance li:nth-child(2){
	background: url(../images/foo_icon.png) 0 -40px no-repeat;
}
#assurance li:nth-child(3){
	background: url(../images/foo_icon.png) 0 -80px no-repeat;
}
#popular_searches{
	margin-top: 40px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D5D5D5;
	text-align: justify;
	width: 100%;
}
#popular_searches h1{
	font-weight: bold;
	font-style: 14px;
	padding: 10px 0;
}
#popular_links a:hover{
	text-decoration: underline;
}
#foo_bottom{
	margin: 15px 0;
}
.issue{
	float: left;
}
.copyright{
	float: right;
}

@media only screen and (max-width: 1100px) {
	#top_promo_panel ul{
		display: block;
	}
	#top_promo_panel li{
		padding: 5px;
	}
	.product_loop{
		display: block;
		margin: 5px;
	}

	.product_wrap{
		margin: 0 5px;
	}
}
@media only screen and (max-width: 800px) {
	#menu_wrap{
		display: none;
	}
}
@media only screen and (max-width: 400px) {
	#imgthumb li{
		float: left;
	}
	#fullimg{
		margin-left: 0;
	}
	#pdetailsr{
		margin-top: 35px;
		float: left;
	}
	#userpanel{
		margin-top: 15px;
	}
	#my_account{
		margin-left: 0;
	}
}