body{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    background: #EFEFEF;
    margin: 0px;
}
input[type="submit"]{
    cursor: pointer;
}
a, a:active, a:visited{
    color: #000;
    text-decoration: none;
}
.clear{
    clear: both;
}
#logo{
    width:  110px;
    margin: 100px auto 20px auto;
}
.login_wrap{
    max-width: 100%;
    margin: 0px auto;
    width: 500px;
    background: #FFF;
    border: 1px solid #3E7B01;
    box-shadow: 8px 8px 5px #B2B2B2;
}
.login_wrap p{
    text-align: center;
    color: #1C3601;
    margin: 40px;
    font-size: 20px;
    text-shadow: 1px 0px 2px #FFF;
}
.login{ 
    overflow: auto; 
    margin: 30px;
}
.login li{
    padding: 0px;
    list-style: none;
    float: left;
    min-width: 100px;
}
.login input[type="text"],
.login input[type="password"]{
    width: 180px;   
    height: 20px;
    padding: 5px;
    border: 1px solid #AAAAAA;
}
.submit_btn{
    width: 190px; 
    height: 35px;
    background: #ddd;
    border: 1px solid #AAAAAA;
}
.submit_btn:hover{
    background: #126F00;
    color: #FFF;
    box-shadow: inset 0px 0px 1px #3E7B01;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.flag{
    margin-left: 100px;
    color:#ea2000;
    font-size:11px;
}